@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
:root {
  /* Kolory dla trybu jasnego */
  --foreground-rgb: 0, 0, 0; /* Kolor tekstu */
  --background-start-rgb: 214, 219, 220, 0.5; /* Początkowy gradient tła */
  --background-end-rgb: 214, 219, 220; /* Końcowy gradient tła */
  --background-light-rgb: 214, 219, 220, 0.7; /* tło z przezroczystością */
  --accent-rgb: 0, 123, 123; /* Kolor akcentu light, np. przyciski */
  --accent-light-rgb: 0, 123, 123, 0.6; /*Kolor akcentu dark*/
  --border-rgb: 100, 100, 100, 0.2; /* Kolor obramowania */
  --shadow-rgb: 100, 100, 100; /* Cień */
}

[data-theme="dark"] {
  /* Kolory dla trybu ciemnego */
  --foreground-rgb: 255, 255, 255; /* Kolor tekstu */
  --background-start-rgb: 0, 0, 0, 0.5; /* Początkowy gradient tła */
  --background-end-rgb: 0, 0, 0; /* Końcowy gradient tła */
  --background-light-rgb: 0, 0, 0, 0.7; /* tło z przezroczystością */
  --accent-rgb: 0, 247, 247; /* Kolor akcentu */
  --accent-light-rgb: 0, 247, 247; /*Kolor akcentu dark*/
  --border-rgb: 0, 247, 247, 0.2; /* Kolor obramowania */
  --shadow-rgb: 0, 247, 247; /* Cień */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-end-rgb));
  background-image: url(../../public/bgLogo.webp);
  background-repeat: no-repeat;
  background-size: 200%;
  animation: backgroundZoomAndShake 100s infinite;
}

@keyframes backgroundZoomAndShake {
  0% {
    background-size: 150%;
    background-position: var(--background-start-rgb);
  }
  25% {
    background-size: 130%;
    background-position: 2px -20px;
  }
  50% {
    background-size: 110%;
    background-position: -50px 2px;
  }
  75% {
    background-size: 130%;
    background-position: 30px -3px;
  }
  100% {
    background-size: 150%;
    background-position: var(--background-start-rgb);
  }
}

button {
  margin: 0.2em;
  width: 2em;
  height: 2em;
  border-radius: 0.3em;
  background-color: rgba(105, 23, 37, 0.6);
}

h1 {
  font-size: xx-large;
  color: rgb(var(--accent-rgb));
  margin: 0.7em auto;
}

h2 {
  font-size: x-large;
  color: rgb(var(--accent-rgb));
  margin: 0.5em auto;
}

h3 {
  font-size: medium;
  color: rgb(var(--accent-rgb));
  margin: 0.3em auto;
}

.textShadow {
  transition: all 0.3s;
}

.textShadow:hover {
  text-shadow: 0 0 5px rgb(var(--accent-light-rgb));
}

.schreibeButton {
  margin: 0 auto;
  padding: 0.2em;
  min-width: 100px;
  background: rgb(var(--background-end-rgb));
  text-align: center;
  font-size: small;
  color: rgb(var(--accent-rgb));
  border-radius: 50px;
  position: relative;
  letter-spacing: 2px;
  transition: all 0.3s;
}

.schreibeButton:hover {
  font-weight: bolder;
  box-shadow: 0 0 15px 5px rgb(var(--accent-rgb));
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.schreibeButton::after,
.schreibeButton::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    rgb(var(--accent-rgb)),
    transparent
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 50px;
  animation: 3s spin linear infinite;
}
.schreibeButton::before {
  filter: blur(1.5rem);
  opacity: 0.9;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.schreibeButton::after:hover,
.schreibeButton::before:hover {
  animation: 3s spin backwards;
}

/* Ukrycie scrollbara, ale zachowanie przewijania */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Dla przeglądarek WebKit (Chrome, Safari, itp.) */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Dla Internet Explorera i starszych Edge */
  scrollbar-width: none; /* Dla Firefox */
}
.h-screen-minus-200px {
  height: calc(100vh - 200px);
}

.trigger {
  position: absolute;
  margin: 10px;
  z-index: 5;
  right: 0;
  top: 0;
  
  
}

.bars {
width: 60px;
cursor: pointer;
}
.bars .line {
fill: none;
stroke: rgb(var(--accent-rgb));
stroke-width: 4;
stroke-linecap: square;
transition: stroke-dasharray 700ms,  stroke-dashoffset 700ms;
}
.bars .line.top {
stroke-dasharray: 40 172;
}
.bars .line.middle {
stroke-dasharray: 40 111;
}
.bars .line.bottom {
stroke-dasharray: 40 172;
}
.bars.active .top {
stroke-dashoffset: -132px;
}
.bars.active .middle {
stroke-dashoffset: -71px;
}
.bars.active .bottom {
stroke-dashoffset: -132px;
}
